body {
    background-color: yellow;
    padding: 5%;
}
.container--fluid{
    border-radius: 10px;
}
.container, h1 {
    text-align: center;
      
}

h3, p  {
    color: red;
}
#first_par {
    color: yellowgreen;
}
.carousel-inner {
    border-radius: 50%;
    border: 2px solid white;
}